# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Local Databases and Vector Stores
bujhai.db
chroma_db/
chroma_test_dl/

# Uploaded Runtime Materials
materials/

# Uvicorn server logs
uvicorn_*.txt